<ion-view title="ขาย">
    <ion-content padding="'false'" class="has-header">
        <button class="button button-block button-assertive" ng-click="show()">อัพโหบดรูป</button>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">ชื่อสินค้า</span>
                <input type="text" placeholder="ชื่อสินค้า...">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    เลือกประเภทสินค้า
                </div>
                <select>
                    <option>เครื่องแต่งกาย</option>
                    <option selected>สิ่งของเครื่องใช้</option>
                    <option selected>อาหาร</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">รายละเอียดสินค้า</span>
                <textarea type="text" placeholder="john@suhr.com"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>