<ion-modal-view>
    <ion-header-bar class="bar-orange">
        <h1 class="title">
            <span ng-show="modal_address_id==''">เพิ่มที่อยู่ใหม่</span>
            <span ng-show="modal_address_id!=''">แก้ไขที่อยู่</span>
        </h1>
        <a class="button icon-left ion-ios-close-empty button-clear text-white" ng-click="modal_address.hide()">ปิด</a>
    </ion-header-bar>
    <ion-content class="padding">
        <form class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">ชื่อ-นามสกุลผู้รับ *</span>
                <input type="text" ng-model="data.u_name" placeholder="ชื่อ-นามสกุลผู้รับ">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">เบอร์โทร *</span>
                <input type="text" ng-model="data.u_phone" placeholder="เบอร์โทร">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">ที่อยู่จัดส่ง *</span>
                <textarea placeholder="ที่อยู่จัดส่ง" ng-model="data.u_address" rows="3"></textarea>
            </label>
            <a ng-if="modal_address_id==''" 
                ng-disabled="!data.u_name || !data.u_phone || !data.u_address"
                ng-click="addAddress()" style="margin-top: 8px;" class="button button-energized button-outline button-block ">เพิ่ม</a>
            <a ng-if="modal_address_id!=''" 
                ng-disabled="!data.u_name || !data.u_phone || !data.u_address"
                ng-click="editAddress()" style="margin-top: 8px;" class="button button-energized button-outline button-block ">แก้ไข</a>
        </form>
    </ion-content>
</ion-modal-view>
