<ion-view title="ติดตาม">
	<ion-content class="has-header my-content">
		<h4 style="font-family: 'Prompt', sans-serif; margin-left: 10px">ติดตามร้านค้า</h4>
        <ion-scroll class="categories" direction="x">
            <div class="item" style="padding-top:5px;padding-right:5px;padding-left:5px;text-align:center;">
            	<img ng-src="img/p1.jpg" err-src="img/no-image.png">
				<p>aaaaa</p>
			</div>
			<div class="item" style="padding-top:5px;padding-right:5px;padding-left:5px;text-align:center;">
            	<img ng-src="img/p1.jpg" err-src="img/no-image.png">
				<p>aaaaa</p>
			</div>
			<div class="item" style="padding-top:5px;padding-right:5px;padding-left:5px;text-align:center;">
            	<img ng-src="img/p1.jpg" err-src="img/no-image.png">
				<p>aaaaa</p>
            </div>
		</ion-scroll>
		<div class="list card">

			<div class="item item-avatar">
				<img src="img/waiter.png">
				<p style="position:absolute;right:10px;">
					<a class="button button-small button-outline button-assertive"><span class="ion-plus"></span> ติดตาม </a> 
				</p>
				<p>อิสมาแอ ดือราแม</p>
				<p>17 กุมภาพันธ์ 2560</p>
			</div>
		  
			<div class="item item-body">
			  	<img class="full-image" src="img/p1.jpg">
			  	<p>
					กระเป๋าผ้าบาติก ชุมชน ต.ตลิ่งชัน 
				</p>
			</div>
			<div class="button-bar">
				<a class="button button-small button-light"><span class="ion-ios-heart"></span> ถูกใจ</a>
				<a class="button button-small button-light"><span class="ion-ios-chatbubble"></span> ความคิดเห็น</a>
				<a class="button button-small button-light"><span class="ion-android-share-alt"></span> แชร์</a>
			</div>
		  
		</div>

		<div class="list card">

			<div class="item item-avatar">
			  	<img src="mcfly.jpg">
			  	<h2>Marty McFly</h2>
			  	<p>November 05, 1955</p>
			</div>
		  
			<div class="item item-body">
			  	<img class="full-image" src="delorean.jpg">
			  	<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
					the content is from a card-body consisting of an image and paragraph text. The footer
					consists of tabs, icons aligned left, within the card-footer.
				</p>
			  	<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
			  	</p>
			</div>
		  
		</div>
	</ion-content>
</ion-view>