<ion-view title="สำเร็จ" hide-back-button="true" hide-nav-bar="true">
    <ion-content padding="'true'" class="text-center" style="background-color: #f8f8f8;">
        <div style="padding-top:50px;">
            <div class="text-green" style="line-height: 40px; margin-bottom: 20px;">
                <i class="ion-checkmark-circled" style="font-size: 50px;"></i>
                <div style="font-size: 26px;">สำเร็จ</div>
            </div>
            <div>{{ data.order }}</div>
            <a href="#/tab/home" class="button icon-left ion-ios-home button-clear button-dark" style="line-height: 50px;">กลับหน้าแรก</a>
        </div>
    </ion-content>
</ion-view>
