
<ion-view title="ตะกร้า">
	<ion-nav-buttons side="left">
		<a class="button button-icon ion-ios-arrow-left .my-icon" ng-click="goBack()">กลับ</a>
	</ion-nav-buttons>
	<ion-content class="has-header has-footer my-content">
		<div ng-show="cart.items.length==0">No data</div>
		<div ng-repeat="item in cart.items">
			<!--<div class="list card">
				<div class="item item-divider">{{item.cart_item_name}} </div>
				<div class="item item-body">
					<img ng-src="{{'img/'+ item.cart_item_image +'.jpg'}}" width="100%" height="auto" style="width: 100%; height: auto;">
					<form class="list"></form>
					<div>
						<p>{{item.cart_item_qty}} x &#8377; {{item.cart_item_price}} =
							<strong> &#8377; {{ item.cart_item_qty * item.cart_item_price }}</strong>
						</p>
					</div>
					<div class="button-bar">
						<button ng-click="removeFromCart(item.cart_item_id)" class="button button-assertive button-block button-small icon ion-android-delete"></button>
						<button class="button button-stable button-clear button-block button-small icon ion-plus" ng-click="inc(item.cart_item_id)"></button>
						<button class="button button-stable button-clear button-block button-small">{{item.cart_item_qty}}</button>
						<button class="button button-stable button-clear button-block  icon ion-minus" ng-click="dec(item.cart_item_id)"></button>
					</div>
				</div> 
			</div>-->
			<div class="list">
				<a class="item item-thumbnail-left my-item" >
					<img ng-src="{{ URL+'files/products/'+item.p_image }}" err-src="img/no-image.png">
					<h2>{{item.p_name}} </h2>
					<p>{{item.c_qty}} x  {{item.p_price}} =
							<strong>  {{ item.c_price }}</strong> บาท
					</p>
					<div class="button-bar" style="font-size:10px;margin-top:-10px;">
						<button class="button button-stable button-clear button-block button-small icon ion-plus" ng-click="inc(item.p_id)"></button>
						<button class="button button-stable button-clear button-block button-small">{{item.c_qty}}</button>
						<button class="button button-stable button-clear button-block  icon ion-minus" ng-click="dec(item.p_id)"></button>
					</div>
				</a>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-light">
		<div>
			<p>รวมทั้งหมด ( {{ cart.qty }} ) =
				<strong> {{cart.price}} บาท</strong>
			</p>
		</div>
		<button class="button button-assertive pull-right" ng-click="checkout()">ชำระเงิน</button>
	</div>
</ion-view>