<ion-view title="Product">
	<ion-content class="padding has-header my-content">
		<img ng-src="{{ URL+'files/products/'+data.p_image }}" err-src="img/no-image.png" width="100%" height="auto" style="width: 100%; height: auto;">
		<div class="button-bar">
			<button class="button button-positive button-clear button-block  icon ion-android-cart"></button>
			<button class="button button-assertive button-clear button-block  icon ion-android-favorite-outline"></button>
			<button class="button button-balanced button-clear button-block  icon ion-share"></button>
		</div>
		<div class="list card">
			<div class="item item-divider">Description</div>
			<div class="item item-body">
				<div class="col col-50">
					<p> {{data.p_name}}</p>
					<p>Price: ${{data.p_price}}</p>
					<p>{{data.p_description}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
